/.vscode
/1darray.c
/2darray.c
/2darray.exe
/a.exe
/addsparsemat.c
/array.c
/array.exe
/array1.c
/array1.exe
/array2.c
/array3.c
/array4.c
/arraybasic.c
/arrayinsert.c
/arraymenu.c
/arraymerging.c
/arraytranform.c
/basic_of_c.c
/bookdetail.c
/bubblesort.c
/circularlinklist.c
/circularqueue.c
/comparebyAd.c
/deleteatposition.c
/deletingfirst.c
/dellessthannode.c
/diagonalsum.c
/dotoperator.c
/doublylinklist.exe
/employeinfousingstruct.c
/fibo.c
/fibo_recursion.c
/findmaxmin.c
/findsecmaxmin.c
/functions_prblm.c
/insertatfirst.c
/insertatposition.c
/integer.c
/largestarray.c
/lemmatize.c
/link1.c
/linklist.c
/main.c
/MDlinklist.exe
/mod.c
/multipledotO.c
/p1.c
/p10.c
/p11.c
/p12.c
/p13.c
/p14.c
/p15.c
/p17.c
/p2.c
/p3.c
/p4.c
/p4.exe
/p5.c
/p6.c
/p6.exe
/p7.c
/p7.exe
/p8.c
/p8.exe
/p9.c
/palindrome.c
/pointer.c
/pointer1.c
/pointer2.c
/pointer3.c
/pointerbasic.c
/polyadbyll.c
/polylinklist.c
/polynomialeq.c
/queue.c
/recursion_basic.c
/recursive.c
/recursive1.c
/reverse.c
/reversestring.c
/reversestring.exe
/secondlarray.c
/sort.c
/sort.exe
/sort1.c
/sortinarray.c
/sortinarray.exe
/sparsematrix.c
/sparsematrix.exe
/squarematrix.c
/stack.c
/stringbasic.c
/stringmatching.c
/stringtofun.c
/strong.c
/structurecomplex.c
/structures.c
/stvowels.c
/subsequences.c
/sumofarrayusingDMA.c
/swap.c
/symmat.c
/text.txt
/transpose.c